@use "./responsive";

.fourth-section {
    margin-top: 171px;
    margin-right: 160px;
    display: flex;
    position: relative;
    z-index: 10;
    margin-left: 403px;

    @include responsive.responsive-xl{
        margin-left: 200px;
      }

    @include responsive.responsive-xs{
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 119px;
        margin-top: 0;
    }

    @include responsive.responsive-lg{
        margin-left: 40px;
    }

    .rectangle3{
        position: relative;
        top: 60px;
        right: 180px;
        z-index: 1;

        @include responsive.responsive-lg{
            right: 330px;
        }
        
        @include responsive.responsive-xs{
            height: 285px;
            width: 285px;
            top:100px;
            right: 210px;
 
         }
       
    }
    .zmones{
        position: absolute;
        display: block;
        width: 563px;
        height: 545px;
        margin-left: 140px;
        margin-right: 165px;
        top: 0;
        right: 410px;
        background-color: #ffffff;
        z-index: 80;

        @include responsive.responsive-xs{
            right: 0px;
            width: 32px;
            height: 278px;
            margin-top: 70px;
            margin-right: 341px;
         }
    }

    .small-zmones{
        display: none;
        @include responsive.responsive-xs{
            display: block;
         }
    }
    .big-zmones{
        @include responsive.responsive-xs{
            display: none;
 
         }
    }
    h2{
        font-size: 41px;
        font-weight: 500;
        line-height: 41.1px;
        margin-top: 17px;
        margin-bottom: 24px;
        text-transform: uppercase;
        color: #647B64;

        @include responsive.responsive-xs{
            font-size: 22px;
            line-height: 24px;
            margin-bottom: 16px;
            margin-top: 8px;
 
         }
    }
    p{
        color: #4F4F4F;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        margin-bottom: 40px;
        margin-top: 0;

        @include responsive.responsive-xs{
            font-size: 10px;
            line-height: 13px;
            margin-bottom: 0px; 
         }
    }
    .fourth-section-right {
        margin-top: 144px;

        @include responsive.responsive-lg{
            margin-left: -250px;
        }
        @include responsive.responsive-xs{
            width: 258px;
            height: 185px;
            margin-left: -180px;
         }
   
        a{
            text-decoration: none;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;
            color:#FEFEFE;
            
        }
        .get-started-button {
            background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%);
            width: 350px;
            height: 73px;
            padding: 26px 0 25px 29px;
            position: relative;
            margin-top: 40px;

            &:hover{
                box-shadow: 0px 0px 11px 5px rgba(0,0,0,0.75);
               }

            @include responsive.responsive-xs{
                margin-top: 24px;
                width: 195px;
                height: 41px;
                padding: 15px 0px 14px 16px;
                border-radius: 1px;
                margin-bottom: 0px;
            }
        
        &::after{
            content: url(images/Vector.svg) ;
            width: 22px;
            height: 15px;
            position: absolute;
            top: 32px;
            left: 308px;

            @include responsive.responsive-xs{
                content: url(/atsiskaitomasis_darbas_css/images/small-arrow.svg);
                width: 11px;
                height: 8px;
                left: 177px;
                top: 9px;
             }
        }
        .button-text{
            margin: 0;
            font-size: 16px;

            @include responsive.responsive-xs{
                font-size: 10px;
                line-height: 13px;
            }
        }
        p{
            color: white;
        }
        }
    }
}