*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    max-height: 4082px;
    margin-left: auto;
    margin-right: auto;
}

.content-wrapper {
    margin: auto;
    font-family: "Lato", sans-serif;
    background-color: #fafafa;

    .yellow {
        color: #F3B562;
        font-size: 24px;
        font-weight: 500px;
        text-transform: uppercase;
        line-height: 32px;
        margin-top:40px ;
    }
    header {
        display: flex;
            justify-content: space-between;
        .navigation-top {
            
            
           
            }
            
            .left-nav {
                margin-left: 140px;
                margin-top: 50px;

                img:first-of-type {
                    width: 69px;
                    height: 50px;
                    margin-right: 12px;
                }

                img {
                    width: 128px;
                    height: 15px;
                }
            }
            .right-nav {

                display: flex;
                gap: 48px;
                ul{display: flex;
                    gap: 48px;
                    margin-top: 64px;
                }
                
                
                li{
                    list-style-type: none;
                    
                }
                a{
                    text-decoration: none;
                    line-height: 20px;
                    font-weight: 500;
                    font-size: 16px;
                    color: #333333;                
                }
                button{
                    margin-top: 55px;
                    margin-right: 140px;
                    width: 93px;
                    height: 40px;
                    border-radius: 3px;
                    border: none;
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 500;
                    color:#FEFEFE ;
                    background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%);


                }
                }
        }


        main {
            .first-section {
                display: flex;
                justify-content: space-between;
                margin-left: 180px;
                
                h1{
                    font-size: 42px;
                    font-weight: 500;
                    line-height: 55.68px;
                    text-transform: uppercase;
                    margin-bottom: 24px;
                    margin-top: 164px;
                    color: #333333;
                    
                }
                p{
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 26.4px;
                    margin-bottom: 32px;
                    margin-top: 0;
                    color: #4F4F4F;
                }
                .button-text{
                    margin: 0;
                    font-size: 16px;
                }
                .first-section-left{
                    width: 495px;
                    height: 375px;
                }
                a{
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 600;
                    color:#FEFEFE
                    
                }
                .get-started-button {
                    background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%);
                    width: 350px;
                    height: 73px;
                    padding: 26px 0 25px 29px;
                    position: relative;
                    
                    &::after{
                        content: url(images/Vector.svg) ;
                        width: 22px;
                        height: 15px;
                        position: absolute;
                        top: 32px;
                        left: 308px
                    }
                }
                img{
                    height: 586px;
                    width: 343px;
                    margin-right: 200px;
                    margin-top: 61px;
                }
            }
            .second-section {
                display: flex;
                flex-wrap: wrap;
                padding-bottom: 147px;
               .second-section-left{
    
                margin-top: 244px;
                margin-left: 140px;
                margin-right: 124px;
    
                
                h2{
                    font-size: 41px;
                    line-height: 45px;
                    font-weight: 500;
                    margin-top: 17px;
                    margin-bottom: 40px;
                    color: #647B64;
                    text-transform: uppercase;                 
                }
                p{
                    font-size: 16px;
                    margin-top: 0;
                    color: #4F4F4F;   
                }
                a{
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 600;
                    color:#FEFEFE               
                }
                .get-started-button {
                    background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%);
                    width: 350px;
                    height: 73px;
                    padding: 26px 0 25px 29px;
                    position: relative;
                    margin-top: 40px;
                    
                    &::after{
                        content: url(images/Vector.svg) ;
                        width: 22px;
                        height: 15px;
                        position: absolute;
                        top: 32px;
                        left: 308px
                    }
                    .button-text{
                        margin: 0;
                        font-size: 16px;
                    }      
               }
            }
    
                .boxes {
                    display: grid;
                    grid-template-columns: 288px 288px;
                    grid-template-rows: 237px 237px;
                    margin-top: 201px;
                    height: 237px;
                    width: 288px;
                    img{
                        padding: 10px;
                        background-color: #FEFEFE;
                        box-shadow: 0px 4px 4px 0px #0000000A;
                        border-radius: 8px;
                    }
                    
                    p{
                        font-size: 14px;
                        margin: 0;
                        color: #4F4F4F;
                    }

                    h3{
                        font-size: 20px;
                            font-weight: 500;
                            line-height: 28px;
                            color: #333333;
                            text-transform: uppercase;
                            margin: 16px 0 6px 0px;
                    }         
                    .same {
                        padding: 40px 27px 45px 40px;
                    }
    
                }
            }
            
            .third-section {
                .third-section-title {
                    text-align: center;
                    h2{
                        line-height: 45px;
                        font-weight: 500;
                        font-size: 41px;
                        text-transform:uppercase ;
                        color: #647B64;
                        margin-bottom: 56px;
                    }
                }
    
                .third-section-content {
                    display: flex;
                    margin-left: 140px;
                    gap: 30px;
                    
    
                    .ts-box {
                        width: 360px;
                        border-radius: 8px;
                        background:
                        linear-gradient(358.27deg, rgba(100, 123, 100, 0.77) -118.86%, rgba(100, 123, 100, 0) 25.62%, rgba(100, 123, 100, 0) 98.53%);
                        padding: 78px 50px 72px 50px;
                        
                        h3 {
                            font-size: 24px;
                            font-weight: 500;
                            line-height: 28px;
                            margin-top: 24px;
                            margin-bottom: 6px;                           
                        }
                        p{
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 21px;
                            margin: 0;
                            color: #4F4F4F;
                        }
    
                    }
                    .ts-box-2{
                        background-color: #647B64;
                        color: #FFFFFF;
                        
                    }
                    .ts-box-1{
                        h3{
                            text-transform: uppercase;
                            color: #333333;
                        }
                    }
                    .ts-box-3{
                        h3{
                            text-transform: uppercase;
                            color: #333333;
                        }
                    }
                                    
                }
            }
    
            .fourth-section {
                margin-top: 171px;
                margin-right: 160px;
                display: flex;
    
                img{
                    width: 563px;
                    height: 545px;
                    margin-left: 140px;
                    margin-right: 165px;
                }
    
                h2{
                    font-size: 41px;
                    font-weight: 500;
                    line-height: 41.1px;
                    margin-top: 17px;
                    margin-bottom: 24px;
                    text-transform: uppercase;
                    color: #647B64;
                }
                p{
                    color: #4F4F4F;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 21px;
                    margin-bottom: 40px;
                    margin-top: 0;
                }
                .fourth-section-right {
                    margin-top: 144px;
                    
                    
                
                    a{
                        text-decoration: none;
                        text-transform: uppercase;
                        font-size: 16px;
                        font-weight: 600;
                        color:#FEFEFE;
                        
                    }
                    .get-started-button {
                        background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%);
                        width: 350px;
                        height: 73px;
                        padding: 26px 0 25px 29px;
                        position: relative;
                        margin-top: 40px;
                    
                    &::after{
                        content: url(images/Vector.svg) ;
                        width: 22px;
                        height: 15px;
                        position: absolute;
                        top: 32px;
                        left: 308px
                    }
                    .button-text{
                        margin: 0;
                        font-size: 16px;
                    }
                    p{
                        color: white;
                    }
                    }
                }
            }
    
            .fifth-section {
                margin-top: 197px;
                margin-left: 140px;
                margin-right: 0;
                
                
                .fifth-section-title{
                    margin-right: 140px;
                    display: flex;
                    justify-content: space-between;
                    h2{
                        font-size:41px;
                        font-weight: 500;
                        line-height: 45px;
                        color: #647B64;
                        margin-bottom: 50px;
                        margin-top: 17px;
                    }
    
                    button{
                        background: none;
                        border: none;
                    }
                }
                .fifth-section-content {
                    display: flex;
                    margin-right: 140px ;
                    gap: 40px;
                }
                .fs-box{
                    min-width: 350px;
                    border-radius: 8px;
                    padding: 32px 32px 32px 40px;
                    background-image: linear-gradient(
                        180deg,
                        hsl(0deg 0% 100%) 9%,
                        hsl(344deg 0% 90%) 82%,
                        hsl(0deg 0% 80%) 100%
                      );
    
                    .fs-box-flex{
                        display: flex;
                    }
                    span{
                        color: #333333;
                        font-size: 15px;
                        font-weight:500 ;
                        line-height: 18px;
                        margin-top: 0;
                        margin-bottom: 5px;
                    }
                    p{
                        font-size: 13px;
                        font-weight:400 ;
                        line-height: 17px;
                        margin: 5px 0px 0px 0px;
                    }
                    img{
                        margin-bottom: 24px;
                    }
                }
            }
    
            footer {
                .foot-content{
                    display: flex;
                    background-color: #e40101;
                    padding: 100px  140px 97px 140px;
                .bottom-logo {
                    // Add your styles here
                }
    
                .socials {
                    // Add your styles here
                }
                }
            }
        
    
        }
        
    }

  