.container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-height: max-content;
    background-color: #F2F2F2;
}

.logo {
    height: 40px;
    margin-right: 120px;
    margin-top: 20px;
}
.logotipas {
    margin-bottom: 70px;
    height: 40px;
}

.rotate-1 {
    display: block;
    position: fixed;
    top: 80%;
    left: 90%;
    height: 130px;
    -webkit-animation: spin 9s linear infinite;
    -moz-animation: spin 9s linear infinite;
    animation: spin 9s linear infinite;
}
@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}

.rotate-1:hover {
    -webkit-animation: none;
}

 /* top nav end*/

.vidus {
    max-width: 1150px;
    
    margin: auto;
    margin-top: 80px;
    font-family: "Roboto", sans-serif;
}
.papildoma-nav {
    display: flex;
    justify-content: flex-end;
}
.papildoma {
    font-family: "Roboto", sans-serif;
    height: 20px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    padding-left: 0px;
    padding-right: 0px;
    border-right: 1px solid rgb(184, 181, 181);
    box-shadow: 0 7px 15px 0 rgba(0,0,0,.07);
    
}
.papildoma:last-child {
    border-right: none;
}
.papildoma a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 500;

}

.papildoma:active{
    color: white;
    background-color: blue;
}
.papildoma a:active {
    color: white;
    background-color: blue;
}

.dvi-puses {
    display: flex;
}

.left-side {
    width: 65%;
    text-align: left;

}

h1 {
    font-size: 42px;
    font-family: "Bricolage Grotesque", sans-serif;
    width: 90%;
    margin-bottom: 25px;
    font-weight: 600;
    text-align: left;
}
.naujienos {
    display: flex;
    flex-wrap: wrap;
}

.naujienos a {
    text-decoration: none;
    color: #000;
}


/* end of first naujienos part*/

.visos-nauj {
    display: flex;
    height: 50px;
    width: 89%;
    background-color: white;
    padding: 40px 30px 30px 40px;
    border-radius: 10px;

    
}
.visos-nauj a{
    
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    color: black;
    
}
.strele{
    
    height: 33px;
    width: 19px;
    margin-left: 450px;
    background-color: white;
    padding-top: 0px;
}





.right-side {
    width: 25%;
    margin-left: 10px;
}


/* vaizdo irasu pabaiga*/


.daugiau-button {
    width: 350px;
    height: 60px;
    background-color: white;
    text-align: left;
    padding-top: 40px;
    padding-left: 40px;
    display: flex;
    border-radius: 10px;

}
.daugiau-button a{
      
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    color: black;
}

.strelyte {
    height: 33px;
    width: 19px;
    margin-left: 200px;
    background-color: white;
    padding-top: 0px;
}
footer {
    background-color: #000;
    padding-bottom: 150px;

}
.apacia {
    margin-top: 200px;
    
    display: flex;
    max-width: 1150px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    line-height: 40px;
    padding: 100px 0 100px 350px;
    text-align: left;
    
}
.apacia p {
    margin-left: 40px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 0;
}
ul{
    margin-top: 0;
}
.apacia a{
    color: #929497;
    text-decoration: none;
    font-weight: 300;
}
.apacia a:hover {
    color: white;
    text-decoration: underline;
    font-weight: 500;
    text-decoration-color: white;
}
ul li {
    list-style-type: none;
}
.logo-foot {
    margin-left: 40px;
    height:40px ;
    margin-bottom: 60px;
    color: white;
}
.foot2 {
    margin-left: 100px;
    margin-top: 100px;
}
.foot3{
    margin-left: 450px;
    margin-top: 120px;
}
.foot3 a{
    margin-right: 20px;

}

.foot4 a:hover{
    color: white;
    text-decoration: underline;
    font-weight: 500;
}
.foot4 {
    color:#929497;
    font-family: "Roboto", sans-serif;
    text-align: left;
    margin-left: 390px;
    font-size: 14px;
    margin-top: 200px;

}
.foot4 a:last-of-type{
    color: #929497;
    font-weight: 300;
}
.foot4 a:last-of-type:hover {
    color: white;
    text-decoration: underline;
}
.foot4 a {
    text-decoration: none;
    color: white;
    margin-right: 200px;
}
.foot4 img {
    width: 110px;
}