.juodas {
    height: 50px;
    width: 390px;
    background-color: #000;
    color: white;
    padding-top: 30px;
}
.ritmu {
    width: 80px;
}
.audio {
    
    width: 390px;
    margin-top: 10px;

}
.podcast-controls {
    display: flex;
    height: 80px;
    width: 390px;
}
audio {
    height: 80px;
    width: 400px;
    background-color: black;
    
}
.play {
    width: 60px;
    height: 50px;
    object-fit: cover;
}
.button {
    border: 2px solid black;
    width: 120px;
    
}
.po-audio {
    text-align: left;
    width: 390px;
    background-color: white;
    margin-bottom: 30px;
    
}
.po-audio p {
    margin-top: 0;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 500;
}

