.container {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    font-family: "League Spartan", sans-serif;
    background-image:  url(bg-pattern-top-desktop.svg) , url(bg-pattern-bottom-desktop.svg) ;
    background-position: left top, right bottom;
    background-repeat: no-repeat;
   

    
    
    
    
    
}

.content-wraper {
    margin: auto;
    
    padding: 100px 200px;
}

.top-part {
    display: flex;
    width: 1200px;
    
}

h1 {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 0;
    color: hsl(300, 43%, 22%) ;
}

 .rated {
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 20px;
    color: hsl(300, 43%, 22%) ;
}
.left-top-p {
    font-weight: 400;
    font-size: 18px;
    margin-top: 0;
    color: hsl(300, 43%, 22%);
}

.stars {
    display: flex;
    background-color: #F5F3F7;
    height: 40px;
    margin: 20px;
    padding-top: 20px;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 50px;
    margin-right: 0;
    font-size: 18px;
    width:350px;

}

.orange-star {
    height: 20px;
    margin-right: 10px;
}

#first {
    margin-top: 30px;
    
}
#second {
    margin-left: 70px;
}
#third {
    margin-left: 120px;
}

.bottom-part {
    display: flex;
    justify-content: space-between;
    width: 1060px;
}

.box-1 {
    padding: 20px 30px;
    border-radius: 10px;
    margin-top: 40px;
    background-color: hsl(300, 43%, 22%);
    height: 190px;
}
.box-2 {
    padding: 20px 30px;
    border-radius: 10px;
    margin-top: 60px;
    background-color: hsl(300, 43%, 22%);
    height: 190px;
}
.box-3 {
    padding: 20px 30px;
    border-radius: 10px;
    margin-top: 80px;
    background-color: hsl(300, 43%, 22%);
    height: 190px;
}
.box-p {
    font-size: 15;
    font-weight: 500;
    color: hsl(300, 24%, 96%);
}
span {
    font-size: 15px ;
    color: hsl(333, 80%, 67%);
    font-weight: 400;
}
h2 {
    color: hsl(300, 24%, 96%);
    font-size: 17px;
    font-weight: 500;
}

.foto {
    width: 40px;
    border-radius: 20px;
    float: left;
    margin-right: 20px;
    margin-top: 12px;
}