*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin-bottom: 500px;
}

.container {
  background-color: aquamarine;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: flex-start;
  align-items: center;
  /* align-content: space-between; */
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
  order: 10;
  align-self: flex-start;
}

.child {
  width: 100px;
  height: 100px;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
}

.content {
  width: 58%;
  padding: 15px;
  background-color: aquamarine;
  display: flex;
}

section {
  width: 50%;
  padding: 15px;
}

aside {
  width: 38%;
  padding: 15px;
}

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}