.container {
    max-width: 1440px;
    max-height: 4082px;
    margin-left: auto;
    margin-right: auto;
}
.content-wrapper{
    margin: auto;
    header{
        .navigation-top{
            .left-nav{

            }
        }
        .right-nav{

        }
        .first-section{
            .get-started-button{

            }
        }
    }
    main {
        .second-section{
            .yellow{

            }
            .get-started-button{

            }
            .boxes{
                .same{

                }
                .box-1{

                }
                .box-2{
                    
                }

                .box-3{
                    
                }

                .box-4{
                    
                }


            }
        }
        .third-section{
            .third-section-title{
                .yellow{
                }
            }
            .third-section-content {
                .small-icon-2{ }
                .ts-box-1{

            }
            .ts-box-2{
            }

            .ts-box-3{
            }
            }
        }
        .fourth-section{
            .fourth-section-right{
                .yellow{
                }
                .get-started-button{
                }
            }
        }
        .fifth-section{
            .yellow{
            }
            .fifth-section-content{
            }
        }
        footer{
            .bottom-logo{}
            .socials{}

        }
    }
}