.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F1F1F1;
    padding: 0px 50px 10px 50px;
}

.logo{
    width: 200px;
    height: 150px;
}

.top-nav {
    height: 35px;
    padding: 20px 0 20px 10px;
    background-color: #1A3441;
}

.top-nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 40px;
}

.main-image {
    margin-top: 20px;
    height: 400px;
    background-color: #AEC43B;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}
h1{
    color: white;
    font-weight: 100;
}

.first-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    padding: 20px 20px 10px 10px;
    background-color: white;
}
h2 {
    font-weight: 400;
}
p{
    color: #5e6669;
}

.content-bottom-nav{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: white;
    margin-top: 15px;
    gap: 20px;
}

.content-bottom-nav p {
    margin-top: 5px;
}
.content-bottom-nav h2{
    margin-bottom: 0px;
}
.content-bottom-nav h2:first-child {
    font-size: xx-large;
    
}
h3{
    font-size: 25px;
    font-weight: 400;
    color: #1A3441;
    margin-bottom: 10px;
}
.bottom-nav {
    background-color: #ECECEC;
}
.bottom-nav a{
    display: block;
    text-decoration: none;
    padding: 10px 0 20px 10px;
    color: #727070;

}
