body {
    background-color: rgb(41, 68, 68);
    color: white;
    padding-top: 200px;
  }
  
  content.wrapper {
    background-color: antiquewhite;
    
  }
  .container {
      text-align: center;
  }
  
  div {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .required {
    background-color: rgb(204, 105, 204);
  } 

  
  input:read-only {
    background-color: rgb(150, 148, 148);
  }
  
  input:valid,
  textarea:valid,
  input:in-range {
    border: 2px solid green;
  }
  
  input:invalid,
  textarea:invalid,
  input:out-of-range {
    border: 2px solid red;
  }
  
  input:required,
  textarea:required {
    border-left: 2px solid rgb(197, 107, 197);
  }
  
  .submit-button:hover {
    background-color: rgb(12, 77, 12);
  }
  
  input[type="checkbox"]:checked + label {
    color: blue;
  }
  .submit-button {
    background-color: rgb(12, 163, 12);
    color: white;
  }