body {
    background-color: black;
    
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width : 1300px;
    background-color: white;
    text-align: center;
}

.header {
    
    background-image: url(/images/bg-hero-desktop.svg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
    background-color: hsl(193, 100%, 96%);
    margin-bottom: 80px;
    padding-bottom: 40px;
}
.head-top {
    min-height: 40px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 140px;
    height: 22px;
    margin-left: 20px;
    margin-top: 40px;

}
.try-it-free {
    margin-right: 20px;
    margin-top: 30px;
    height: 15px;
    padding: 5px 0 10px 0;
    text-align: center;
    width: 100px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 11px 3px rgba(37,63,75,0.15);
    


}
.try-it-free a {
    color: black;
    text-decoration: none;
    font-weight: 900;
    font-size: 12px;

}
.head-body {
    width: 100%;
    
}
.head-body-1 {
margin-left: 0px;
padding-top: 0px;
}

.header h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    
}

.head-body-1 p {
    font-weight: 400;
    padding-left: 40px;
    padding-right: 40px;
    
}

.get-started {
    background-color: hsl(322, 100%, 66%);
    box-shadow: 0px 10px 4px 1px rgba(37,63,75,0.08);
    height: 20px;
    width: 225px;
    text-align: center;
    padding: 15px;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 60px;
    
}

.get-started a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    
}

.mockups {
    max-height: 440px;
    min-width: 300px;
    margin-top: 60px;

}

/* head part ended */
.responsive {
    width: 250px;
}
body main .saule {
    display: flex;
    flex-direction: column;
}
.vidus {
    font-family: "Open Sans", sans-serif;
    box-shadow: 0px 0px 11px 3px rgba(37,63,75,0.15);
    min-height: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;

}

.images {
    margin-top: 60px;
}
.grow {
    margin-top: 0px;
    margin-right: 0px;
}
.textas-right {
    padding: 20px 40px 20px 40px;
}
.textas {
    padding: 20px 40px 20px 40px;
}

.textas-right {
    margin-top: 0px;
    margin-right: 0px;
}

.vidus h2 {

    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
}


.folowing {
    margin-top: 0px;
    margin-left: 0px;
}

.your {
    
    margin-top: 0px;
    margin-right: 0px;
}

/* body part ended */

footer {
    position: relative;
}
.pries-paskutinis {
    max-width: 700px;
    min-width: 300px;
    max-height: 260px;
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 25px 25px 30px 25px;
    box-shadow: 0px 0px 11px 3px rgba(37,63,75,0.15);
}
.pries-paskutinis h2 {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.get-started-last {
    font-family: "Poppins", sans-serif;
    width: 150px;
    height: 20px;
    padding: 10px;
    background-color: hsl(322, 100%, 66%);
    box-shadow: 0px 10px 4px 1px rgba(37,63,75,0.08);
    border-radius: 40px;
    margin-left: 60px;
}
.pries-paskutinis a {
    color: white;
    text-decoration: none;
    font-size: 10px;
    font-weight: 600;
}
.apacia {
    margin-top: 220px;
    min-height: 500px;
    background-color: hsl(192, 100%, 9%);
    color: white;
    padding-left: 20px;
    padding-bottom: 40px;
}

.fot-1 {
    padding-top: 100px;
    margin-top: 100px;
     text-align: justify;
    font-family: "Open Sans", sans-serif;
}




.fot-1 img{
    width: 180px;
    height: 28px;
    margin-bottom: 20px;
}

.location::before {
    content: url(images/icon-location.svg);
    margin-right: 20px;
    margin-bottom: 20px;

}

.location {
    font-size: medium;
}
   
.number::before {
    
    content: url(icon-phone.svg);
   margin-right: 20px;
   margin-top: 20px;
    
}

.emailas::before {
    content: url(images/icon-email.svg);
    margin-right: 20px;
}

.fot-2 {
    padding: 0;
    text-align: left;


}

.apacia a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    line-height: 30px;

}

.fot-3 {
    text-align: left;

}

.fot-4 {
   padding: 0;

}


.ikoneles a{
    padding-right: 10px;
}

.fot-4 p {
   padding: 0;


}
